.padtop20 {
	padding-top: 20px;
}
.padbottom20 {
	padding-bottom: 20px;
}
.padtop30 {
	padding-top: 30px;
}
.padbottom30 {
	padding-bottom: 30px;
}
.padtop50 {
	padding-top: 50px;
}
.padbottom50 {
	padding-bottom: 50px;
}
.text-whiter{
	color: #a6a6a6;
}