.padtop10 {
  padding-top: 10px;
}
.padbottom10 {
  padding-bottom: 10px;
}
.padtop20 {
	padding-top: 20px;
}
.padbottom20 {
	padding-bottom: 20px;
}
.padtop30 {
	padding-top: 30px;
}
.padbottom30 {
	padding-bottom: 30px;
}
.padtop50 {
	padding-top: 50px;
}
.padbottom50 {
	padding-bottom: 50px;
}
.space10 {
  height: 10px;
}
.space30 {
  height: 30px;
}

.space50 {
  height: 50px;
  width: 100%;
}

.space100 {
  height: 100px;
}
.text-whiter{
	color: #a6a6a6;
}

.width40{
	width: 40%;
}


}
.col-1{
  width: 8.33333%;
  float: left;
}
.col-2{
  width: 16.66666%;
  float: left;
  border: 1px solid transparent;
}
.col-3{
  width: 25%;
  float: left;
  border: 1px solid transparent;
}
.col-4{
  width: 33.33333%;
  float: left;
}
.col-5{
  width: 41.66666%;
  float: left;
}
.col-6{
  width: 50.00%;
  float: left;
  border: 1px solid transparent;
}
.col-7{
  width: 58.33333%;
  float: left;
}
.col-8{
  width: 66.66666%;
  float: left;
  border: 1px solid transparent;
}
.col-9{
  width: 75.00%;
  float: left;
}
.col-10{
  width: 83.33333%;
  float: left;
}
.col-11{
  width: 91.66666%;
  float: left;
}
.col12{
	width: 100%;
	float: left;
}
.col12border{
	width: 100%;
	float: left;
	border: 1px solid transparent;
}
footer {
  padding-top: 10px;
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background: black;
}

.preloads{
  visibility: hidden;
  position: absolute;
  z-index: -1000;
}

.img100{
  width: 100%;
}

/*#code-projects-page{
  background-color: black;
}*/

/*a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: blue;
}

a:active {
    color: black;
}*/