<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id='landing-page'>
    <div class='bg1'>



  <div class="intro-header">
    <div class="container">
      <div class="row">
          <div class="intro-message">
            <h1 id='chase-terzian'>Chase Terzian</h1>
            <h3 id='the-source'>The Source For All Things Terzian</h3>
            <hr class="intro-divider" id='langing-hr-short'>
            <ul class="list-inline intro-social-buttons" id='landing-link-buttons'>
              <li>
                <a href="https://github.com/chaseterzian" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">github</span></a>
              </li>
              
              <li>
                <a href="https://www.linkedin.com/in/chaseterzian" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">linkedin</span></a>
              </li>
              <li>
                <a href="/resumes.html" class="btn btn-default btn-lg"><i class="fa fa-globe fa-fw"></i> <span class="network-name">resumes</span></a>
              </li>
            </ul>

              <hr class="width40" id='langing-hr-long' />

            <ul class="list-inline intro-social-buttons" id='landing-site-buttons'>
              <li>
                <a href="/code_projects.html" class="btn btn-default btn-lg"><i class="fa fa-edit fa-fw"></i> <span class="network-name">Code</span></a>
              </li>
              <li>
                <a href="/music.html" class="btn btn-default btn-lg"><i class="fa fa-music fa-fw"></i> <span class="network-name">Music</span></a>
              </li>
              <li>
                <a href="/media.html" class="btn btn-default btn-lg"><i class="fa fa-film fa-fw"></i> <span class="network-name">Media</span></a>
              </li>
              <li>
                <a href="/contact.html" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Contact</span></a>
              </li>
            </ul>
  <iframe class="preloads" src="https://chase-resume.herokuapp.com/" width="1px" height="1px"></iframe>
  <iframe class="preloads" src="https://gearbox-11beta.herokuapp.com" width="1px" height="1px"></iframe>
  <iframe class="preloads" src="https://whiteboard-rails.herokuapp.com" width="1px" height="1px"></iframe>
  <iframe class="preloads" src="https://the-projects-rails.herokuapp.com" width="1px" height="1px"></iframe>

              
          </div>
      </div>
    </div>
  </div>


    </div>
  </body>

</html>
